@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #b0f28c;
  --secondary: #17b27c;
  --accent: #cc42cd;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
